* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#root {
  background-color: #F5F5F5;
}

nav {
  background-color: #ECF0F1;
  width: 100%;
}

#cards {
  gap: 100px;
  margin-bottom: 69.5px;
}

#card {
  min-width: 25%;
  background-color: #ECF0F1;
}

#card-relatorios {
  min-width: 84%;
  background-color: #ECF0F1;
}

#botao {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #27AE60;
  padding: 3px 6px;
  text-decoration: none;
  color: black;
  font-size: small;
  font-weight: 500;

  &:hover {
    opacity: 0.8;
  }
}

div h5 {
  font-weight: bold;
}

footer {
  background-color: #ECF0F1;
}

#icone-voltar {
  &:hover {
    opacity: 0.8;
  }
}

#introducao {
  margin-top: 58px;
  margin-bottom: 58px;
}

#titulo {
  margin-top: 58px;
  color: #F39C12;
}

.list-group li:nth-child(odd) {
  background-color: #F5F5F5;
}

.list-group li:nth-child(even) {
  background-color: #d3d3d363;
}

#link-ativo {
  color: #F39C12;
}

#link-nao-ativo {
  color: black;
}

.linha-vertical {
  display: inline-block;
  border-left: 2px dashed #F39C12;
  height: auto;
}

form .btn {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #27AE60;
  padding: 3px 6px;
  text-decoration: none;
  color: black;
  font-size: small;
  font-weight: 500;

  &:hover {
    background-color: #27AE60;
    opacity: 0.8;
  }
}